.entretiens-titre {
  margin-bottom: 1rem;
}

.entretiens-bouton-nouveau {
  margin-bottom: 1rem;
}

.entretien-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.entretien-actions-gauche {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
